In [88]:
import pandas as pd
from pathlib import Path
my_folder = Path('C:/Essex Msc/Project Proposal/Proposal data/ppd_data/').rglob('*.csv')
files = [x for x in my_folder]
files

[WindowsPath('C:/Essex Msc/Project Proposal/Proposal data/ppd_data/ppd_data_jan_feb_2018.csv'),
 WindowsPath('C:/Essex Msc/Project Proposal/Proposal data/ppd_data/ppd_data_jan_feb_2019.csv'),
 WindowsPath('C:/Essex Msc/Project Proposal/Proposal data/ppd_data/ppd_data_jan_feb_2020.csv'),
 WindowsPath('C:/Essex Msc/Project Proposal/Proposal data/ppd_data/ppd_data_jan_feb_2021.csv'),
 WindowsPath('C:/Essex Msc/Project Proposal/Proposal data/ppd_data/ppd_data_jul_aug_2018.csv'),
 WindowsPath('C:/Essex Msc/Project Proposal/Proposal data/ppd_data/ppd_data_jul_aug_2019.csv'),
 WindowsPath('C:/Essex Msc/Project Proposal/Proposal data/ppd_data/ppd_data_jul_aug_2020.csv'),
 WindowsPath('C:/Essex Msc/Project Proposal/Proposal data/ppd_data/ppd_data_mar_apr_2018.csv'),
 WindowsPath('C:/Essex Msc/Project Proposal/Proposal data/ppd_data/ppd_data_mar_apr_2019.csv'),
 WindowsPath('C:/Essex Msc/Project Proposal/Proposal data/ppd_data/ppd_data_mar_apr_2020.csv'),
 WindowsPath('C:/Essex Msc/Project Proposal/Proposal data/ppd_data/ppd_data_mar_apr_2021.csv'),
 WindowsPath('C:/Essex Msc/Project Proposal/Proposal data/ppd_data/ppd_data_may_jun_2018.csv'),
 WindowsPath('C:/Essex Msc/Project Proposal/Proposal data/ppd_data/ppd_data_may_jun_2019.csv'),
 WindowsPath('C:/Essex Msc/Project Proposal/Proposal data/ppd_data/ppd_data_may_jun_2020.csv'),
 WindowsPath('C:/Essex Msc/Project Proposal/Proposal data/ppd_data/ppd_data_nov_dec_2018.csv'),
 WindowsPath('C:/Essex Msc/Project Proposal/Proposal data/ppd_data/ppd_data_nov_dec_2019.csv'),
 WindowsPath('C:/Essex Msc/Project Proposal/Proposal data/ppd_data/ppd_data_nov_dec_2020.csv'),
 WindowsPath('C:/Essex Msc/Project Proposal/Proposal data/ppd_data/ppd_data_sep_oct_2018.csv'),
 WindowsPath('C:/Essex Msc/Project Proposal/Proposal data/ppd_data/ppd_data_sep_oct_2019.csv'),
 WindowsPath('C:/Essex Msc/Project Proposal/Proposal data/ppd_data/ppd_data_sep_oct_2020.csv')]

In [89]:
print(len(files))

20

In [90]:
fields=['unique_id','price_paid','deed_date','postcode','property_type','new_build','estate_type','saon','paon','street','locality','town', 'district', 'county','transaction_category'  ]
dfs = [pd.read_csv(csv_file, usecols=fields) for csv_file in files]

In [91]:
results = pd.concat(dfs)
display(results)

,unique_id,price_paid,deed_date,postcode,property_type,new_build,estate_type,saon,paon,street,locality,town,district,county,transaction_category
0,666758D6-D646-3363-E053-6B04A8C0D74E,375000,26/01/2018,AL1 1AR,F,N,L,NaN,APARTMENT 3,OLD MILE HOUSE COURT,NaN,ST ALBANS,ST ALBANS,HERTFORDSHIRE,A
1,68FEB20B-7CD5-38DA-E053-6C04A8C051AE,495000,23/02/2018,AL1 1HR,F,N,L,FLAT 12,"AVENTINE COURT, 101",HOLYWELL HILL,NaN,ST ALBANS,ST ALBANS,HERTFORDSHIRE,A
2,7011B10A-2C75-8ED6-E053-6B04A8C075C1,242300,13/02/2018,AL1 1LA,O,N,F,FLAT 3,15,LONDON ROAD,NaN,ST ALBANS,ST ALBANS,HERTFORDSHIRE,B
3,7011B10A-2CF8-8ED6-E053-6B04A8C075C1,250000,13/02/2018,AL1 1LA,O,N,L,NaN,15C,LONDON ROAD,NaN,ST ALBANS,ST ALBANS,HERTFORDSHIRE,B
4,6B32222C-4167-01F1-E053-6C04A8C0D2C8,740000,23/02/2018,AL1 1LR,F,Y,L,NaN,101,LONDON ROAD,NaN,ST ALBANS,ST ALBANS,HERTFORDSHIRE,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155608,BA558B33-1BF8-76EF-E053-6B04A8C0B4B7,285000,11/09/2020,NaN,F,Y,L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
155609,BA558B33-588B-76EF-E053-6B04A8C0B4B7,477500,11/09/2020,NaN,D,N,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
155610,BA558B32-F48A-76EF-E053-6B04A8C0B4B7,450000,10/09/2020,NaN,S,Y,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
155611,BA558B33-291B-76EF-E053-6B04A8C0B4B7,120000,04/09/2020,NaN,F,Y,L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
155612,BA558B33-7BB9-76EF-E053-6B04A8C0B4B7,290000,04/09/2020,NaN,F,N,L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B

In [92]:
results['unique_transact'] =results['unique_id'] +results['deed_date'].str[0:2]+results['deed_date'].str[3:5]+results['deed_date'].str[6:10]

In [93]:
results_amend1=results.dropna(subset=['postcode'])
print(results_amend1)

                                   unique_id  price_paid   deed_date postcode  \
0       666758D6-D646-3363-E053-6B04A8C0D74E      375000  26/01/2018  AL1 1AR
1       68FEB20B-7CD5-38DA-E053-6C04A8C051AE      495000  23/02/2018  AL1 1HR
2       7011B10A-2C75-8ED6-E053-6B04A8C075C1      242300  13/02/2018  AL1 1LA
3       7011B10A-2CF8-8ED6-E053-6B04A8C075C1      250000  13/02/2018  AL1 1LA
4       6B32222C-4167-01F1-E053-6C04A8C0D2C8      740000  23/02/2018  AL1 1LR
...                                      ...         ...         ...      ...
154936  B5755FFE-48D4-7D01-E053-6C04A8C036B6      269950  16/09/2020  YO8 9UF
154937  B5755FFE-48D2-7D01-E053-6C04A8C036B6      324950  30/10/2020  YO8 9UF
154938  BA558B32-F0B2-76EF-E053-6B04A8C0B4B7      279950  06/10/2020  YO8 9UF
154939  BA558B32-F0B6-76EF-E053-6B04A8C0B4B7      229950  13/10/2020  YO8 9UF
154940  B82222ED-25A6-6691-E053-6B04A8C02FB2      371500  26/10/2020  YO8 9YE

       property_type new_build estate_type     saon                 paon  \
0                  F         N           L      NaN          APARTMENT 3
1                  F         N           L  FLAT 12  AVENTINE COURT, 101
2                  O         N           F   FLAT 3                   15
3                  O         N           L      NaN                  15C
4                  F         Y           L      NaN                  101
...              ...       ...         ...      ...                  ...
154936             D         Y           F      NaN                   19
154937             D         Y           F      NaN                   21
154938             D         Y           F      NaN                   23
154939             D         Y           F      NaN                   25
154940             D         N           F      NaN                    1

                      street   locality       town   district  \
0       OLD MILE HOUSE COURT        NaN  ST ALBANS  ST ALBANS
1              HOLYWELL HILL        NaN  ST ALBANS  ST ALBANS
2                LONDON ROAD        NaN  ST ALBANS  ST ALBANS
3                LONDON ROAD        NaN  ST ALBANS  ST ALBANS
4                LONDON ROAD        NaN  ST ALBANS  ST ALBANS
...                      ...        ...        ...        ...
154936         BRAMBLE GARTH  HAMBLETON      SELBY      SELBY
154937         BRAMBLE GARTH  HAMBLETON      SELBY      SELBY
154938         BRAMBLE GARTH  HAMBLETON      SELBY      SELBY
154939         BRAMBLE GARTH  HAMBLETON      SELBY      SELBY
154940        TOLL BAR CLOSE  HAMBLETON      SELBY      SELBY

                 county transaction_category  \
0         HERTFORDSHIRE                    A
1         HERTFORDSHIRE                    A
2         HERTFORDSHIRE                    B
3         HERTFORDSHIRE                    B
4         HERTFORDSHIRE                    A
...                 ...                  ...
154936  NORTH YORKSHIRE                    A
154937  NORTH YORKSHIRE                    A
154938  NORTH YORKSHIRE                    A
154939  NORTH YORKSHIRE                    A
154940  NORTH YORKSHIRE                    A

                                     unique_transact
0       666758D6-D646-3363-E053-6B04A8C0D74E26012018
1       68FEB20B-7CD5-38DA-E053-6C04A8C051AE23022018
2       7011B10A-2C75-8ED6-E053-6B04A8C075C113022018
3       7011B10A-2CF8-8ED6-E053-6B04A8C075C113022018
4       6B32222C-4167-01F1-E053-6C04A8C0D2C823022018
...                                              ...
154936  B5755FFE-48D4-7D01-E053-6C04A8C036B616092020
154937  B5755FFE-48D2-7D01-E053-6C04A8C036B630102020
154938  BA558B32-F0B2-76EF-E053-6B04A8C0B4B706102020
154939  BA558B32-F0B6-76EF-E053-6B04A8C0B4B713102020
154940  B82222ED-25A6-6691-E053-6B04A8C02FB226102020

[2846850 rows x 16 columns]

In [94]:
results_amend1.unique_id.unique().size

2846839

In [95]:
results_amend1.unique_transact.unique().size

2846850

In [96]:
checkduplicates=results_amend1[results_amend1.duplicated(['unique_transact'], keep=False)]
print(checkduplicates)

Empty DataFrame
Columns: [unique_id, price_paid, deed_date, postcode, property_type, new_build, estate_type, saon, paon, street, locality, town, district, county, transaction_category, unique_transact]
Index: []

In [97]:
#checkduplicates.to_csv('C:/Essex Msc/Project Proposal/Proposal data/ppd_data/checkduplicates.csv')

In [98]:
# splitting dataframe by row index 
#(data is split into a set of csv files under 10MB each, so each can be loaded into HarperDB -10MB is the limitation for a single file load)
myRows=int(round(results_amend1.shape[0]/50,0))
print(myRows)
allRows=results_amend1.shape[0]
print(allRows)
fromRow=0 
toRow=myRows
dfOutdfOut= results_amend1.iloc[:toRow,:]
dfOutdfOut.to_csv('C:/Essex Msc/Project Proposal/Proposal data/ppd_data/ppdresults_' +  "{}.csv".format(toRow), index=False)
while toRow<=allRows:
  fromRow=toRow+1  
  toRow=fromRow+ myRows
  dfOut = results_amend1.iloc[fromRow:toRow,:]  
  dfOut.to_csv('C:/Essex Msc/Project Proposal/Proposal data/ppd_data/ppdresults_' +  "{}.csv".format(toRow), index=False)

56937
2846850