<a href="https://colab.research.google.com/github/oxanaRC/CE902/blob/main/test150621.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install harperdb

Collecting harperdb
  Downloading https://files.pythonhosted.org/packages/1f/90/e6e4c461c0c2069c1611ee15a2da35f8206e765ff49fdd3caa7c3de0cb00/harperdb-0.4.2-py3-none-any.whl
Requirement already satisfied: requests~=2.0 in /usr/local/lib/python3.7/dist-packages (from harperdb) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests~=2.0->harperdb) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests~=2.0->harperdb) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests~=2.0->harperdb) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests~=2.0->harperdb) (1.24.3)
Installing collected packages: harperdb
Successfully installed harperdb-0.4.2

In [ ]:
import harperdb
import pandas as pd
import numpy as np
from pathlib import Path

In [ ]:
url='https://ce901data-orc0770.harperdbcloud.com'
db=harperdb.HarperDB(url=url,
            username='myuser',
            password='abcdef',
            timeout=500)

In [ ]:
db

In [ ]:
#my_db_data=db.sql('SELECT * FROM projectdata.propertypurchases WHERE deed_date="02/10/2020" AND town LIKE "%OL"')
#my_db_data=db.sql('SELECT * FROM projectdata.propertypurchases WHERE town="LONDON"')
#my_db_data=db.sql('SELECT * FROM projectdata.propertypurchases WHERE town LIKE "%ON"')
#my_db_data=db.sql('SELECT * FROM projectdata.propertypurchases WHERE property_type="O"')
#my_db_data=db.sql('SELECT * FROM projectdata.propertypurchases WHERE postcode LIKE "CO4%"')
year=2018
month=1
sqlstring='SELECT * FROM projectdata.propertypurchases WHERE deed_date LIKE "%{}/{}"'
my_db_data=db.sql(sqlstring.format(month,year))
#my_db_data=db.sql('SELECT * FROM projectdata.propertypurchases WHERE deed_date LIKE "%12/2018"')
data=pd.DataFrame(my_db_data)
data

        postcode  __createdtime__  ...                    county price_paid
0         E8 4NE    1623691911561  ...            GREATER LONDON    1740000
1         N5 1BZ    1623693913868  ...            GREATER LONDON    1525000
2        W11 1NZ    1623694749195  ...            GREATER LONDON    3306000
3        IG3 9NB    1623691911934  ...            GREATER LONDON     442000
4        W12 8JN    1623694749198  ...            GREATER LONDON    1375000
...          ...              ...  ...                       ...        ...
169060  SW17 0NB    1623759701795  ...            GREATER LONDON     450000
169061  ME10 2BL    1623759455782  ...                      KENT     200000
169062   SP4 7HU    1623759701426  ...                 WILTSHIRE     127000
169063   SP4 7HU    1623759701427  ...                 WILTSHIRE     166300
169064  HU15 1WD    1623759455074  ...  EAST RIDING OF YORKSHIRE     301000

[169065 rows x 18 columns]

In [ ]:
list_of_dfs = {}
count=0
for x in range(1, 3):
  for y in range (2018,2020):
    year=y
    month=x
    count=count+1
    sqlstring='SELECT * FROM projectdata.propertypurchases WHERE deed_date LIKE "%{}/{}"'
    my_db_data=db.sql(sqlstring.format(month,year))
    list_of_dfs[count] = pd.DataFrame(my_db_data)
    print(list_of_dfs[count].shape)
    #masterDF = masterDF.append(list_of_dfs[count])
df = pd.concat(list_of_dfs, sort=False)
df

(169065, 18)
(159110, 18)
(157760, 18)
(156576, 18)

          postcode  __createdtime__  ...          county price_paid
1 0         E8 4NE    1623691911561  ...  GREATER LONDON    1740000
  1         N5 1BZ    1623693913868  ...  GREATER LONDON    1525000
  2        W11 1NZ    1623694749195  ...  GREATER LONDON    3306000
  3        IG3 9NB    1623691911934  ...  GREATER LONDON     442000
  4        W12 8JN    1623694749198  ...  GREATER LONDON    1375000
...            ...              ...  ...             ...        ...
4 156571  SN10 1JG    1623763700929  ...       WILTSHIRE     505000
  156572   SN5 8UD    1623763700969  ...         SWINDON    4684505
  156573   HD8 8QP    1623761346302  ...  WEST YORKSHIRE     480000
  156574   WF3 4FT    1623765612043  ...  WEST YORKSHIRE     350000
  156575  LS14 6RF    1623761346899  ...  WEST YORKSHIRE    1801800

[642511 rows x 18 columns]